[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/plugged/vim-monokai-tasty"]
	path = vim/plugged/vim-monokai-tasty
	url = https://github.com/patstockwell/vim-monokai-tasty.git
[submodule "vim/plugged/lightline.vim"]
	path = vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/plugged/jedi-vim"]
	path = vim/plugged/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	ignore = dirty
[submodule "oh-my-zsh-custom-plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "oh-my-zsh-custom-plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = https://github.com/dense-analysis/ale.git
